@model List<Product>

@{
    ViewData["Title"] = "Index";
}

<h2>Product List</h2>

<table class="table">
    <tr>
        <th>
            ID
        </th>
        <th>
            Name
        </th>
        <th>Description</th>
        <th>Category</th>
        <th>Price</th>
        <th></th>
    </tr>
    @foreach (var item in Model)
    {
    <tr>
        <td>@item.ProductID</td>
        <td>@item.Name</td>
        <td>@item.Description</td>
        <td>@item.Category</td>
        <td>@item.Price</td>
        <td>
            <form class="form-inline">
                <button asp-action="Buy" asp-route-id="@item.ProductID" class="btn btn-sm">Buy Now</button>
                <input type="number" name="quantity" placeholder="Quantity" class="form-control" />
</form>
        </td>
    </tr>
    }
</table>

<a asp-action="AddProduct" class="btn btn-info">Add a Products</a>

